# dependencies
node_modules
/.pnp
.pnp.*
.yarn/*
!yarn.lock
pnpm-lock.yaml

# testing
/coverage

# next.js
.next/
/out/

# turbo
.turbo

# production / build outputs
/build
dist/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# env files
.env*.local
.env
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
